
.main-block{
    width: 100%;
    height: 633px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.main-block-text-block{
    width: 503px;
    height: 284px;
    margin-left: 133px;
}

.main-block-text-block>.text1{
    width: 190px;
    height: 19px;
    font-family: PTSerif;
    font-size: 14px;
    color: #F3EADE;
    letter-spacing: 2px;
}

.main-block-text-block>.text2{
    width: 449px;
    height: 128px;
    font-family: PTSerif;
    font-size: 48px;
    color: white;
    line-height: 64px;
}

.main-block-text-block>.text3{
    width: 503px;
    height: 48px;
    font-family: PTSerif;
    font-size: 14px;
    color: #F3EADE;
    line-height: 24px;
    margin-top: 7px;
}

.main-block-button-container{
    width: 185px;
    height: 61px;
    margin-top: 24px;
}

.mt30{
    margin-top: 30px;
}