.main-block{
    width: 100%;
    height: 633px; /* Consider making height more flexible if needed */
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.main-block-text-block{
    width: 503px; /* Consider using max-width and width in percentages */
    max-width: 90%;
    height: auto; /* Flexibility in height */
    margin-left: 133px;
    padding: 20px; /* Padding for smaller screens */
}

.main-block-text-block>.text1{
    width: 190px; /* Consider using max-width and width in percentages */
    max-width: 100%;
    font-family: PTSerif;
    font-size: 1rem; /* Responsive font size */
    color: #F3EADE;
    letter-spacing: 2px;
}

.main-block-text-block>.text2{
    width: 449px; /* Consider using max-width and width in percentages */
    max-width: 100%;
    font-family: PTSerif;
    font-size: 3rem; /* Larger font size, but still responsive */
    color: white;
    line-height: 1.33; /* Relative line height */
}

.main-block-text-block>.text3{
    width: 503px; /* Consider using max-width and width in percentages */
    max-width: 100%;
    font-family: PTSerif;
    font-size: 1rem; /* Consistent font size with text1 */
    color: #F3EADE;
    line-height: 1.7; /* Relative line height */
    margin-top: 7px;
}

@media (max-width: 768px) {
    .main-block-text-block {
        margin-left: 20px; /* Less margin on smaller screens */
    }
    .main-block-text-block > .text1, .main-block-text-block > .text2, .main-block-text-block > .text3 {
        font-size: 0.9rem; /* Smaller font size on small screens */
    }
    .main-block-text-block > .text2 {
        font-size: 2.5rem; /* Adjust large text size for small screens */
    }
}


.main-block-button-container{
    width: 185px;
    height: 61px;
    margin-top: 24px;
}

.mt30{
    margin-top: 30px;
}