.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  width: 65%;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item:hover {
  background-color: #f1f1f1;
}

.cart-item img {
  width: 25%;
  height: 25%;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}

.cart-item h2 {
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  color: #333;
}

.btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-remove:hover {
  background-color: darkred;
}

.dropdown-menu {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3 ease-in-out;
}

.cart-item.expanded .dropdown-menu {
  max-height: 1000px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-row label {
  width: 45%;
  font-weight: bold;
}

.form-row select,
.form-row input {
  width: 45%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-shopping-cart {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.custom-dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.selected-stone {
  display: flex;
  align-items: center;
}

.selected-stone img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 5px;
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.custom-dropdown-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.custom-dropdown-item:hover {
  background-color: #f0f0f0;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #45a049;
}

.react-tel-input .form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
